body {
  max-width: 100WW;
}

header {
      background-color: #32345E;
      color: #FFFFFF;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
    }

  main {
  background-color: #FFFFFF;
  color: #32345E;
  margin: 0 auto;
  padding: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

article {
  display: flex;
  border: 1px solid #32345E;
  padding: 16px;

 
  flex: 1 1 15%; 

  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
    

    img {
      width: 80px;
      height: 80px;
    }

    .artigo-autor {
      font-weight: bold;
    }